{% extends 'home/base.html' %}
{% block content %}
<br>
<br>
<div class="container mt-5">
  <h3>🍽️ Menú del Día</h3>
  <div class="row mt-4">
    {% for p in platos %}
    <div class="col-md-4 mb-3">
      <div class="card shadow-sm rounded-4 text-center">
        <img src="{{ p.imagen or '/static/img/default.png' }}" class="card-img-top" alt="{{ p.nombre }}">
        <div class="card-body">
          <h5>{{ p.nombre }}</h5>
          <p class="text-muted">{{ p.categoria }}</p>
          <p>${{ p.precio }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
