{% extends 'dashboard/base.html' %}
{% block content %}
<br>
<br>
<div class="container mt-5">

  <div class="d-flex justify-content-end mb-4">
  		<a href="{{ url_for('main.hospedaje_admin') }}" class="btn btn-primary me-2">👥 Huéspedes</a>
  		<a href="{{ url_for('main.habitaciones_admin') }}" class="btn btn-secondary me-2">🏠 Habitaciones</a>
  		<a href="{{ url_for('main.estadisticas_admin') }}" class="btn btn-success">📊 Estadísticas</a>
		</div>


  <div class="row">
    <div class="col-md-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Total de Huéspedes</h5>
          <h2 class="text-success">{{ total_huespedes }}</h2>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Registros últimos 7 días</h5>
          <canvas id="graficoHuespedes"></canvas>
        </div>
      </div>
    </div>
  </div>

  <h3 class="mt-5 mb-3">🏨 Check-outs de hoy ({{ check_out_hoy }})</h3>

  {% if checkouts_hoy %}
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Nombre</th>
        <th>Documento</th>
        <th>Teléfono</th>
        <th>Check-in</th>
        <th>Check-out</th>
      </tr>
    </thead>
    <tbody>
      {% for nombre, documento, telefono, check_in, check_out in checkouts_hoy %}
      <tr>
        <td>{{ nombre }}</td>
        <td>{{ documento }}</td>
        <td>{{ telefono }}</td>
        <td>{{ check_in }}</td>
        <td>{{ check_out }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="alert alert-warning">No hay check-outs para hoy.</div>
  {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('graficoHuespedes').getContext('2d');
  const grafico = new Chart(ctx, {
    type: 'line',
    data: {
      labels: {{ labels|tojson }},
      datasets: [
        {
          label: 'Huéspedes Registrados',
          data: {{ data_huespedes|tojson }},
          borderColor: '#007bff',
          backgroundColor: 'rgba(0, 123, 255, 0.2)',
          tension: 0.3,
          fill: true
        },
        {
          label: 'Usuarios Registrados',
          data: {{ data_usuarios|tojson }},
          borderColor: '#28a745',
          backgroundColor: 'rgba(40, 167, 69, 0.2)',
          tension: 0.3,
          fill: true
        }
      ]
    },
    options: { responsive: true, scales: { y: { beginAtZero: true } } }
  });
</script>
{% endblock %}
